if (flash)
  if (flash.error)
    p#flash.error #{flash.error}
  if (flash.info)
    p#flash.info #{flash.info}

if (user)
   div.edit
      a(href="/edit/about") Edit

section.aboutpage
   article
     hgroup
       h1.main About - #{title}
       h2.indexheader #{aboutinfo.about}
     p
       i Who?
     h3 #{aboutinfo.author.name} 
       i alias
       = (aboutinfo.author.nick)
     p  
       i What?
     h3 #{aboutinfo.author.what}
     p
       i Where?
     p.externallinks
       for sites in (aboutinfo.author.where)
         a(href='#{sites}') #{sites}
