h1= title

-if (flash)
   -if (flash.error)
      p.flash.error #{flash.error}
   -if (flash.info)
      p.flash.info #{flash.info}

form(name="edit-author",method="post",action="/save/about")
  fieldset
    
    label(for="about") Edit motto
    input(type="text",name="about", required, value="#{aboutinfo.about}")

    label(for="author") Full name 
    input(type="text",name="author", required. value="#{aboutinfo.author.name}")
    
    label(for="nick") Nickname (shows up as poster)
    input(type="text",name="nick", required, value="#{aboutinfo.author.nick}")
    
    label(for="what") Who/what are you? 
    input(type="text",name="what", required, value="#{aboutinfo.author.what}")
    
    label(for="where") Links to you, use full url, separate with commas without spaces 
    input(type="text",name="where", required, value="#{aboutinfo.author.where}")      
    
    input(type="submit", class="button", name="post", value="Save")