h1 Editing post: #{post.subject}

form(name="edit-post",method="post",action="/posts/edit")
  input(type="hidden",name="id",value="#{post._id}")
  p
    label Subject:
      input(type="text",name="subject",value="#{post.subject}")
  p
    label Content
      textarea(class="editbox" name="body", rows="15", cols="95", wrap="hard") #{post.body}
  p
    label Tags (comma-separated)
      input(type="text",name="tags",value="#{post.tags}")
  p  
    input(type="submit",name="post",value="Post")
