h1 Editing post: #{post.subject}

form(name="edit-post",method="post",action="/edit/posts")
  input(type="hidden",name="id",value="#{post._id}")
  p
    label Subject:
    input(type="text",name="subject",value="#{post.subject}", required)
  p
    label Subtitle:
    input(type="text",name="subtitle", required, value="#{post.subtitle}")
  p
    label Content
    textarea.rte-zone(name="body", rows="15", cols="115", resize="both") #{post.body}
  p
    label Tags (comma-separated)
    input(type="text",name="tags",value="#{post.tags}")
  p  
    input(type="submit", class="button", name="post", value="Save")
