h1.main Posts by tag - #{querytag}

h3.indexheader Descending order by date

for bp in foundPosts
   div.items
      a.postlink(href="/posts/#{bp._id}")
         div.fpposted!= moment(bp.created).format('DD / MM <b>YYYY</b>')
         h2 #{bp.subject}
      div.fpblogpost!= bp.body
      p.tags
         for tag in bp.tags
            a.tag(href="/posts/tags/#{tag}") #{tag} 

