h1.main #{title}

h3.indexheader #{header}

if (flash)
  if (flash.error)
    p#flash.error #{flash.error}
  if (flash.info)
    p#flash.info #{flash.info} 

for post in blogPosts
  if (post.status === 1)
    article(title="#{post.subject}", lang="en")
      div.items
        figure.fpkudos #{post.kudos}<br> kudos
        - link = post._id + '/' + post.subject.split(' ').join('-');
        a.postlink(href="/posts/#{link}")
          p.fpposted
            time(datetime="#{post.created}", pubdate="pubdate")
            != moment(post.created).format('DD / MM <b>YYYY</b>')
          hgroup.fpblogpost
            h2 #{post.subject}
            h3 #{post.subtitle}
        p.tags
          for tag in post.tags
            a.tag(href="/search/tags/#{tag}") #{tag}
    hr
  if (user)
    if (post.status === 0)
      article(title="#{post.subject}", lang="en")
        div.items
          figure.fpkudos #{post.kudos}<br> kudos
          - link = post._id + '/' + post.subject.split(' ').join('-');
          a.postlink(href="/posts/#{link}")
            p.fpposted!= moment(post.created).format('DD / MM <b>YYYY</b>')
            hgroup.fpblogpost
              h2 #{post.subject}
              h3 #{post.subtitle}
          p.tags
            for tag in post.tags
              a.tag(href="/search/tags/#{tag}") #{tag}
      hr
