h1.main= title

h3.indexheader #{header}

-if (flash)
  -if (flash.error)
    p.flash.error #{flash.error}
  -if (flash.info)
    p.flash.info #{flash.info} 

for post in blogPosts
   div.items
      - link = post._id + '/' + post.subject.split(' ').join('_');
      a.postlink(href="/posts/#{link}")
         div.fpposted!= moment(post.created).format('DD / MM <b>YYYY</b>')
         h2 #{post.subject}
      div.fpblogpost
         h3 #{post.subtitle}
      p.tags
         for tag in post.tags
            a.tag(href="/search/tags/#{tag}") #{tag} 
