h1.main #{title}

h3.indexheader #{header}

-if (flash)
  -if (flash.error)
    p#flash.error #{flash.error}
  -if (flash.info)
    p#flash.info #{flash.info} 

for post in blogPosts
  section(title="#{post.subject}", lang="en")
  
    div.items
      span.fpkudos #{post.kudos}<br> kudos
      - link = post._id + '/' + post.subject.split(' ').join('-');
      a.postlink(href="/posts/#{link}")
        span.fpposted!= moment(post.created).format('DD / MM <b>YYYY</b>')
        div.fpblogpost
          hgroup
            h2 #{post.subject}
            h3 #{post.subtitle}

      div.tags
        for tag in post.tags
          a.tag(href="/search/tags/#{tag}") #{tag}
