h1.main= title

h3.indexheader #{header}

-if (flash)
  -if (flash.error)
    p.flash.error #{flash.error}
  -if (flash.info)
    p.flash.info #{flash.info} 

for post in blogPosts
  div.items
    a(href="/posts/#{post._id}")
      h2 #{post.subject}
    div.fpblogpost!= post.body
    p.tags
      for tag in post.tags
        a.tag(href="/posts/tags/#{tag}") #{tag} 
    p
      span.posted Posted: #{moment(post.created).format('DD.MM.YYYY HH:mm')} (UTC)
