!!!
html

  head

    meta(charset="utf-8")
    meta(name="author", content="#{author}")
    meta(name="designer", content="gildean")
    meta(name="generator", content="NodeBlog")
    meta(name="description", content="#{title}")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no")

    title= title

    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="apple-touch-icon", href="/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-big.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-big.png")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/base/jquery-ui.css") 
    script(type="text/javascript", src="http://code.jquery.com/jquery-latest.js")
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js")

  body

    header
      aside.blogheader
        a(href="/") 
          p.headertext too many
          img(class="logo", src="/images/logo.png",alt="too many mangos") 
          p.headerheader mangos
      
      if (user)
        aside.login
          p
            a(href="/add/post") New post
          p
            a(href="/settings") Settings
          p
            a(href="/logout") Logout

    section#mainsection.book
      div#container
        != body

    footer
      details
        summary
          p about
        a(href="/about") NodeBlog 2012

    script(type="text/javascript", src="/javascripts/slidesubmit.jquery.js")
    script(type="text/javascript", src="/javascripts/cookie.jquery.js")
    script(type="text/javascript", src="/javascripts/kudo.js")
    script(type="text/javascript", src="/javascripts/snippets.jquery.js")
