h1 #{title}

if (flash)
  if (flash.error)
    p.flash.error #{flash.error}
  if (flash.info)
    p.flash.info #{flash.info}

i Last modified: #{moment(blogsettings.modified).fromNow()} 

form(name="blogsettings",method="post",action="/save/settings")
  fieldset
    legend Main settings

    label(for="title") Title:
    input(type="text", name="title", value="#{blogsettings.title}", required)
    
    label(for="header") Header
    input(type="text", name="header", resize="none", value="#{blogsettings.header}", required)
    
    input(type="submit", class="button", name="post", value="Save")

form(name="usersettings",method="post",action="/save/usersettings")
  fieldset
    legend User settings

    label(for="username") Username:
    input(type="text", name="username", value="#{user.user}", required)
    
    label(for="password") NEW Password:
    input(type="password", name="password", required)
    
    label(for="passwordconf") Confirm :
    input(type="password", name="passwordconf", required)
    
    input(type="submit", class="button", name="submit", value="Save", onClick="return confirm('Are you sure you want to change your password?');")

<<<<<<< HEAD
form(name="blogsettings",method="post",action="/save/settings")
  p Last modified: #{blogsettings.modified}
  p
    label Title:
    textarea(name="title", rows="1", cols="45", resize="none") #{blogsettings.title}
  p
    label Header
    textarea(name="header", rows="1", cols="45",resize="none") #{blogsettings.header}
  p  
    input(type="submit",name="post",value="Save")
form(name="usersettings",method="post",action="/save/usersettings")
  p  
    label Username:
    input(type="text", name="username", value="#{user.user}", required)
  p  
    label Password:
    input(type="password", name="password", required)
  p  
    label Confirm :
    input(type="password", name="passwordconf", required)
  p  
    input(type="submit",name="submit",value="Save",onClick="return confirm('Are you sure?');")
>>>>>>> 5d40346... Initilize db function
=======
>>>>>>> 8299a42... Remove excess styles etc
