-if (flash)
  -if (flash.error)
    p.flash.error #{flash.error}
  -if (flash.info)
    p.flash.info #{flash.info} 

section#blogpost
  article(id="#{post._id}", title="#{post.subject}")
    - if (user)
      div.edit
        a(href="/edit/post/#{post._id}") Edit 
        a(href="/remove/post/#{post._id}", onClick="return confirm('Sure about that? All comments will also be removed.')") Delete
    else
      div.kudosbutton
        figure.kudo
          a(class="kudos kudoable", id="kudos-#{post._id}")
            div.circle
              div.filled &nbsp;
            p.count
              span(id="kudos-#{post._id}-count", class="identifier") #{post.kudos}
              span.identifier kudos
          div.pbar
            div.progress &nbsp;
    hgroup
      h1 #{post.subject}
      h2.indexheader #{post.subtitle}
    div.body!= post.body
    div.tags
      for tag in post.tags
        a.tag(href="/search/tags/#{tag}") #{tag}
    div.author 
      time(datetime="#{post.created}", pubdate="pubdate")
      span 
        i posted:
        = (moment(post.created).fromNow())
      span 
        i by:
        = (settings.author.nick)

section#comments
  div.commentsection
    h3 Comments

    - if (post.comments)
      for comment in post.comments
        div.comment
          - if (user)
            div
              a(href="/hide/comment/#{comment._id}") Hide
              span.divider |
              a(href="/edit/comment/#{comment._id}") Edit
              span.divider |
              a(href="/remove/comment/#{comment._id}", onClick="return confirm('Sure about that?')") Delete
          p.link #{comment.website}
          p!= comment.body
          p.posted posted #{moment(comment.created).fromNow()} by #{comment.name}

  - if (user) 
    - if (post.hidden)
        h3 Comments to review:
        for hidden in post.hidden
           div.comment
              div
                 a(href="/publish/comment/#{hidden._id}") Publish
                 span.divider |
                 a(href="/edit/comment/#{hidden._id}") Edit
                 span.divider |
                 a(href="/remove/comment/#{hidden._id}", onClick="return confirm('Sure about that?')") Delete
              p!= hidden.body
              p.posted posted #{moment(hidden.created).fromNow()} by #{hidden.name} from #{hidden.from}


  h3 Comments, please:
  form(name="add-comment",method="post",action="/save/comment")
    fieldset
      input(type="hidden",name="postid",value="#{post._id}")
      label(for="site") Website
      input(type="text", name="site", required)
      label(for="name") Name
      input(type="text", name="name", required)  
      label(for="email") Email
      input(type="email", name="email", class="email", required)
    fieldset
      label(for="subject") Comment title
      input(type="text", name="subject", required)
      label(for="body") Comment
      textarea(placeholder="You can use github flavored markdown", name="body", maxlength="550", id="commentcontent")
      input(type="hidden", class="for-bots", name="address", value="", required)
    div#submit-slider
    p.disclaimer all fields required<br>
      | note that your ip is recorded upon submit, please do not spam<br>
      | comments will be reviewed before publishing
