h2 viewing comment from: #{post.name}

if (flash)
  if (flash.error)
    p.flash.error #{flash.error}
  if (flash.info)
    p.flash.info #{flash.info} 

section#blogpost
  article(id="#{post._id}", title="#{post.subject}")
    if (user)
      div.edit
        if (post.status === 0)
          a(href="/publish/comment/#{post._id}") Publish
        else
          a(href="/hide/comment/#{post._id}") Hide 
        a(href="/edit/comment/#{post._id}") Edit 
        a(href="/remove/comment/#{post._id}", onClick="return confirm('Sure about that? There is no undo on delete')") Delete
    
    h1.commentheader #{post.subject}
    div.ghmcomment!= md(post.body)
    p.author 
      time(datetime="#{post.created}", pubdate="pubdate")
      span 
        i posted: 
        = (moment(post.created).fromNow())
      span 
        i by: 
        = (post.name)
    p.backlink
      a(href="#{post.website}") #{post.website}
    p Comment to post:
      - link = post.postid + '/' + post.postsubject.split(' ').join('-');
      a(href="/posts/#{link}")
        i #{post.postsubject}
